div{
display: inline-block;
height: 400px;
width: 200px;
border: 2px solid black;
text-align: center;
align-items: center;

}





#div1{
    background-color: brown;
}
#div2{
    background-color: blue;
}
#div3{
    background-color:antiquewhite
}